.app {
  margin: 0 auto;
  width: 90%;
  max-width: 1000px;

  &__navigation,
  &__page {
    margin-top: 2rem;
  }

  &__navigation {
    text-align: center;

    a {
      font-weight: bold;
      color: black;
      text-decoration: none;
      font-size: 1.2rem;

      &.active {
        text-decoration: underline;
      }
    }

    a + a {
      margin-left: 1rem;
    }
  }

  &__page {
    transition: opacity 400ms;
    opacity: 1;

    &[aria-hidden="true"] {
      opacity: 0;
    }
  }
}
